<%= form_with model: @article, local: true do |form| %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :text, "Description" %><br>
    <%= form.text_area :text %>
  </p>

    <p>
     Active   <%= radio_button("article","active","active") %>
     Inactive <%= radio_button("article","active","inactive") %>
    </p>


    <p>
      Categories <br>
      Music <%= check_box("category", "music") %><br>
      Post  <%= check_box("category", "post") %><br>
      Story <%= check_box("category", "story") %>
    </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>