
<h1>Edit article</h1>

<%= form_for @article do |form| %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :text, "Description" %><br>
    <%= form.text_area :text %>
  </p>

  <p>

   Male <%=  radio_button("article", "gender", "male") %>
   Female <%=  radio_button("article", "gender", "female") %>

  </p>

  <p>
  <% Category.all.each do |c| %>
    <%= c.name %>
    <%= check_box_tag "category_ids[]", c.id %>
  <% end %>
  </p>

  <p>
  <%= select("article", "author_id", Author.all.collect { |p| [ p.name, p.id ] }, { include_blank: true }) %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', articles_path %>
