<h1>New Articles</h1>

<%= form_for @article do |form| %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :text, "Description" %><br>
    <%= form.text_area :text %>
  </p>

  <p>
   Active   <%= radio_button("article","active","active") %>
   Inactive <%= radio_button("article","active","inactive") %>
  </p>

  <p>

    <%= check_box_tag "category_ids", '1' %>
    <%= check_box_tag "category_ids", '2' %>
    <%= check_box_tag "category_ids", '3' %>

  </p>

  <%= select("article", "author_id", Author.all.collect { |p| [ p.name, p.id ] }, { include_blank: true }) %>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', articles_path %>
