/*html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}*/

.h3 {
  color:blue;
}

.form-signup {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
  border-radius: 5px;
  background-color: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.form-signup label {
  margin-bottom: 0px;
  font-weight: bold;
}


.form-signup button {
  padding:2px 20px;
  text-align: center;
  margin-left: 30%;
}

.form-group {
  padding-left: 10%;
  padding-right: 10%;
}

.form-signup .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 6px;
  font-size: 16px;
}
.form-signup .form-control:focus {
  z-index: 2;
}

.form-signup input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  }

label.error {
  color:red;
  font-weight: normal;
  font-size: 12px;

}