body {
  background-color: #EEEEEE;
}
.content_feeds {
  background-color: white;
}


.navbar {
  background-color: #3366CC;
  padding-left:10%;
  padding-right: 8%;
  margin-bottom: 2%;
}
.logo {
  color: white;
  font-weight: bold;
  font-size: 20px;
}
