<%= form_with model: @user, local: true do |form| %>

  <p>
    <%= form.label :firstname %><br>
    <%= form.text_field :firstname %>
  </p>

  <p>
    <%= form.label :lastname %><br>
    <%= form.text_field :lastname %>
  </p>

  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </p>

  <p>
    <%= form.label :password %><br>
    <%= form.text_field :password %>
  </p>

  <p>
    <%= form.label :confirmpassword %><br>
    <%= form.text_field :password_confirmation %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>