<h1>New Users</h1>

<%= form_with model: @user, url: users_path, local: true do |form| %>


  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this user from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :firstname %><br>
    <%= form.text_field :firstname %>
  </p>

  <p>
    <%= form.label :lastname %><br>
    <%= form.text_field :lastname %>
  </p>

  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </p>

  <p>
    <%= form.label  :password %><br>
    <%= form.text_field :password %>
  </p>

  <p>
    <%= form.label :password_confirmation %><br>
    <%= form.text_field :password_confirmation %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
